html {
    font-size: 100%;
    font-family: "quicksand", sans-serif ;
    color: #ff5400;
}
body {
 font-family: "quicksand", sans-serif ;
    margin: 0;
    padding: 0;
    background: #172438;
   
}
.detail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    background: transparent;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 60px;
    /* margin-left: 400px;
    margin-right: 400px; */
    margin-top: 10px;
    padding: 100px;
    box-shadow: 1px 1px 10px #000000; 
    backdrop-filter: blur(10px);
    height: 130vh;
    margin-bottom: 150px;

}
.groupicon{
    background: #172438;
    box-shadow: 3px 3px 7px #000000;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 40px;
}
h1{
    font-weight: 100;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputs input{
    text-align: center;
    font-family: "quicksand", sans-serif ;
    color: white;
    font-size: 2rem;

    background-color: transparent;
    backdrop-filter: blur(50px);
    width: 65vh;
    height: 8vh;
    border: 2px solid #58ffdb;
    border-radius: 10px;
}
.inputs select{
    font-family: "quicksand", sans-serif ;
    /* background-color: transparent; */
    font-size: 30px;
    padding: 10px;
    backdrop-filter: blur(50px);
    width: 65vh;
    height: 8vh;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    text-align: center;
    

}
.logo{
    margin: 60px;
    font-size: 25px;
    margin-top: 35px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start !important;
    gap: 10px;
  }
  .logo img{
    border: 1px solid black;
    box-shadow: 5px 5px 100px #000000;
    border-radius: 50%;
    
  }
  .submit{
    font-family: "quicksand", sans-serif;
    font-size: 30px;
    margin-top: 50px;
    border: 3.5px solid black;

    box-shadow: 0.5px 0.5px 10px #ff5400;

    color: #172438;
    font-weight: 800;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: 0.2s ease-out;
    background-color: #58ffdb;
    padding:20px 70px;
    border-radius: 100px;
  }
  .submit:hover{
    transform: scale(1.1);
}

  .submit a{
    
    color: #172438;
    text-decoration: none;
  }