
body {
 font-family: "quicksand", sans-serif ;
    margin: 0;
    padding: 0;
    background: #172438;
   
}
.detail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    background: transparent;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 15px;
    /* margin-left: 400px;
    margin-right: 400px; */
    margin-top: 10px;
    padding: 20px;
    box-shadow: 1px 1px 10px #000000; 
    backdrop-filter: blur(50px);
    height: 100vh;
    margin-bottom: 150px;
}
.groupicon{
    background: #172438;
    box-shadow: 3px 3px 7px #000000;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
}
h1{
    font-weight: 100;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputs input{
    text-align: center;
    font-family: "quicksand", sans-serif ;
    color: white;
    font-size: 1.5rem;
    background-color: transparent;
    backdrop-filter: blur(50px);
    width: 65vh;
    height: 5vh;
    border: 2px solid #eed113;
    border-radius: 10px;

}
.inputs select{
    font-family: "quicksand", sans-serif ;
    /* background-color: transparent; */
    font-size: 30px;
    padding: 10px;
    backdrop-filter: blur(50px);
    width: 65vh;
    height: 8vh;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    text-align: center;
}
.logo{
    margin: 60px;
    font-size: 25px;
    margin-top: 35px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start !important;
    gap: 10px;
  }
  .logo img{
    border: 1px solid black;
    box-shadow: 5px 5px 100px #000000;
    border-radius: 50%;
    
  }
  .submit{
    font-family: "quicksand", sans-serif;
    font-size: 30px;
    margin-top: 30px;
    border: 3.5px solid black;
    /* box-shadow: 0.5px 0.5px 10px #58ffdb; */
    color: #172438;
    font-weight: 800;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: 0.2s ease-out;
    background-color: #eed113;
    padding:10px 40px;
    width: 200px;
    border-radius: 100px;
    text-align: center;
    margin-left: 100px;
  }
  .submit:hover{
    transform: scale(1.1);
}

.questions{
  font-size: 11px;
}

  .submit button{
    padding: 10px;
    background-color: #eed113;
    font-size: 30px;
    font-family: "quicksand", sans-serif;
    font-weight: 600;
    color: #172438;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  @media (max-width: 480px) {
    .main-container{
      width: 400px;
      margin-left: 20px;
    }
    .detail-container{
      width: 300px;
    }
  }
  .inputs input{
    width: 300px;
    margin-left: 40px;

  }
  .inputs select{
    position: relative;
    left: 40px;
    padding: none;
    height: 60px;
    width: 310px;
  }
  .submit{
    position: relative;
    right: 50px;

  }
  .questions{
    margin-left: 40px;
  }
  