.story-video{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:20px auto;
    border: black;
    box-shadow: 0.5px 0.5px 10px #58ffdb;
    width: fit-content;
    border-radius: 10px;
    
}

.story-video video{
    border-radius: 10px;
}

.question-card ul {
    list-style: none;
  }
  
  .question-card li {
    background-color: #172438;
    padding: 5px 10px;
    width: 60%;
    margin:8px auto;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border: 3px solid #58ffdb;
    border-radius: 20px;
    font-size: 20px;
  }
  .question-card li:hover{
    cursor: pointer;
  }
  
  .question-text {
    color: #58ffdb;
    font-size: 24px;
    text-align: center;
  }
  

  .final-results{
    position:absolute;
    top:200px;
    width: 50%;
    background-color: #172438;
    border-radius: 10px;
    text-align: center;
    left: 25%;
    padding:30px;
    border:2px solid white;
    box-shadow: 1.5px 0.5px 5px #080808;

  }

  .final-results h1{
    color: #58ffdb;
    font-weight: 900;
    text-decoration: underline;
    
  }

  .final-results h3{
    color:rgb(244, 110, 43);
  }

  .final-results p{
    color: white;
    font-weight:600;
  }

  .final-results a{
    padding: 10px;
    background-color: #58ffdb;
    color: rgb(0, 0, 0);
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    border-radius:5px;
  }






  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 117, 117, 0.818); /* Semi-transparent gray */
    z-index: 999; /* Make sure it's above everything else */
    display: flex;
    justify-content: center;
    align-items: center;
  }